DJANGO_DEBUG="true"
DJANGO_SECRET_KEY="django-insecure-local-docker-development-key"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1,0.0.0.0,django_app"
DJANGO_CSRF_TRUSTED_ORIGINS="http://localhost:3100"
DATABASE_URL="postgresql://worksupportportal:worksupportportal_local_dev@django_postgres:5432/worksupportportal"
AUTH_URL="http://localhost:3100"
AUTH_PROVIDER="desknet"
DESKNETS_LOGIN_URL="https://maruei01.dn-cloud.com/cgi-bin/dneo/dneo.cgi"
DESKNETS_TIMEOUT_SECONDS="10"
AUTH_MICROSOFT_ENTRA_ID_ID=""
AUTH_MICROSOFT_ENTRA_ID_SECRET=""
AUTH_MICROSOFT_ENTRA_ID_ISSUER=""
ORACLE_USE_MOCK="true"
ORACLE_HOST="192.168.3.204"
ORACLE_PORT="1521"
ORACLE_SID="EXPJ"
ORACLE_USER="EXPJ"
ORACLE_PASSWORD=""
ORACLE_THICK_MODE="false"
ORACLE_CLIENT_LIB_DIR="/opt/oracle/instantclient_21_13"
GONENKUKUMI_COMPANY_CD=""
